# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log